<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passwords Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <!-- Font Awesome Library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/helpers.js"></script>
  <script type="text/javascript" src="/scripts/edit.js"></script>



</head>

<body>

  <nav class="nav">
    <h3 id="logo"><span>Password</span>KeepR</h3>

    <div class="search-box">
      <input type="text" class="search-text" name="" placeholder="Search">
      <a class="search-btn" href="#">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>
    </div>

    <div class="category">
      <br></br>
      <h3>categories</h3>
      <div class="tab">
        <button class="tablinks" id="comms-and-social" onclick="">Communications and Social Media</button>
        <button class="tablinks" id="supplies" onclick="">Supplies</button>
        <button class="tablinks" id="work-portals" onclick="">Work Portals</button>
        <button class="tablinks" id="all-passwords">See All Passwords</button>
      </div>
    </div>

    <div class="nav-bottom">
      <h3>
        <%= email %>
      </h3>
      <h3>
        <%= organization %>
      </h3>
    </div>

  </nav>

  <main class="container">

    <section class="password-container">

      <button type="button" class="button" id="show-form">
        <span class="button-text">Add Password</span>
        <span class="button-icon">
          <i class="fa-solid fa-plus"></i>
        </span>
      </button>


      <div class="hidden new-password">
        <h3>Password Generator</h3>

        <form id="passwordGeneratorForm" class="new-password-form">
          <label for="Account">Enter New Account</labe>
            <input name="Account" />

            <label for="Account">Enter New URL</labe>
              <input name="URL" />

              <label for="Account">Enter New Category</labe>
                <input name="category" />

            <div class="form-group">
              <label>Number of characters</label>
              <select>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="14">14</option>
                <option value="16">16</option>
                <option value="18">18</option>
              </select>
            </div>

            <div class="form-group">
              <label>Include Symbols:</label>
              <div class="field">
                <input type="checkbox" name="symbols">
                <span>(e. g. @#$%^&*)</span>
              </div>
            </div>

            <div class="form-group">
              <label>Include Numbers:</label>
              <div class="field">
                <input type="checkbox" name="numbers">
                <span>(e. g. 123456)</span>
              </div>
            </div>

            <div class="form-group">
              <label>Lower Characters:</label>
              <div class="field">
                <input type="checkbox" name="low-chars" checked>
                <span>(e. g. abcdef)</span>
              </div>
            </div>

            <div class="form-group">
              <label>Upper Characters:</label>
              <div class="field">
                <input type="checkbox" name="up-chars">
                <span>(e. g. ABCDEF)</span>
              </div>
            </div>

            <div class="form-group">
              <input type="text" name="password" readonly placeholder="Generate Password"/>
            </div>

            <div class="form-group">
              <button id="generate-password">Generate Password</button>
            </div>

            <div class="form-group">
              <button type="submit">Submit</button>
            </div>

        </form>
      </div>

      <h2>Your Passwords</h2>
      <ul class="password-list">
        <li>
          <% for (let password of passwords) { %>
            <button class="password-content cat<%= password.category_id %>">
              <%= password.website_nickname %>
                <!-- Fetch index of the current password in a hidden html tag -->
                <p class="hidden">pw<%= passwords.indexOf(password) %>
                </p>
            </button>
            <% } %>
        </li>
      </ul>

    </section>
    
    <% for (let password of passwords) { %>

    <section class="display-password pw<%= passwords.indexOf(password) %>"> <!--Takes a second class name that contains the index of the corresponding password-->
      <button class="edit-button">Edit</button>
      <h3>
          <%= password.website_nickname %>
        </h3>
        <a href="<%= password.website_url %>">
          <%= password.website_url %>
        </a>

        <div class="text-container">
          <div class="label">
            Login Email
          </div>

          <div class="copy-text">
            <p type="text" class="text"><%= password.login_email %></p>
            <button class="copy-btn">
              <i class="fa-solid fa-copy"></i>
            </button>

          </div>

          <div class="label">
            Password
          </div>

          <div class="copy-text">
            <p type="text" class="text"><%= password.login_password %></p>
            <button class="copy-btn">
              <i class="fa-solid fa-copy"></i>
            </button>
          </div>
        </div>
      <div class="edit-form-container">
      <form method="POST" action="/passwords/<%=password.id%>" class="edit-form">
      <label for="email">New Login Email:</label> <br>
      <input type="text" id="email" name="loginEmail" value=<%= password.login_email %> > <br>
      <label for="password">New Password</label> <br>
      <input type="text" id="password" name="loginPassword" value= <%= password.login_password %>>  <br>
      <input type="submit" value="Save">
      </form>
      </div>  
      </section>
    <% } %>
  </main>

</body>

</html>
